<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ttmv.dao.inter.CmpExpireMapper">
	<resultMap id="BaseResultMap" type="com.ttmv.dao.bean.Cmp">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="tag" property="tag" jdbcType="VARCHAR" />
		<result column="warntime" property="warntime" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, type,tag, warntime, remark
	</sql>
	<select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.math.BigInteger">
		select
		<include refid="Base_Column_List" />
		from cmp
		where user_id = #{userId,jdbcType=BIGINT}
	</select>
	<select id="selectListByCmp" resultMap="BaseResultMap" parameterType="com.ttmv.dao.bean.Cmp">
		select
		<include refid="Base_Column_List" />
		from cmp
		where 1=1
		<if test="userId != null">
			and user_id = #{userId,jdbcType=BIGINT}
		</if>
		<if test="type != null">
			and type = #{type,jdbcType=VARCHAR}
		</if>
		<if test="tag != null">
			and tag = #{tag,jdbcType=VARCHAR}
		</if>
		<if test="warntime != null">
			and warntime = #{warntime,jdbcType=VARCHAR}
		</if>
		
	</select>
	<delete id="deleteByCmp" parameterType="com.ttmv.dao.bean.Cmp">
		delete from cmp
		where 1=1
		<if test="userId != null">
			and user_id = #{userId,jdbcType=BIGINT}
		</if>
		<if test="type != null">
			and type = #{type,jdbcType=VARCHAR}
		</if>
		<if test="tag != null">
			and tag = #{tag,jdbcType=VARCHAR}
		</if>
	</delete>
	<insert id="insert" parameterType="com.ttmv.dao.bean.Cmp">
		insert into cmp (id, user_id, type,tag,
		warntime, remark)
		values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR},
		#{tag,jdbcType=VARCHAR},#{warntime,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ttmv.dao.bean.Cmp">
		insert into cmp
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="tag != null">
				tag,
			</if>
			<if test="warntime != null">
				warntime,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="tag != null">
				#{tag,jdbcType=VARCHAR},
			</if>
			<if test="warntime != null">
				#{warntime,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ttmv.dao.bean.Cmp">
		update cmp
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="tag != null">
				tag = #{tag,jdbcType=VARCHAR},
			</if>
			<if test="warntime != null">
				warntime = #{warntime,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>