<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springwork.org/schema/tx"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans
							     	 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
							     	 http://www.springframework.org/schema/context     
							     	 http://www.springframework.org/schema/context/spring-context-3.0.xsd
							     	 http://www.springframework.org/schema/tx
							     	 http://www.springframework.org/schema/tx/spring-tx-3.0.xsd ">

	<!-- 配置jdbc.properties -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	
	<!-- 配置主 dataSource 数据源c3p0 -->
	<bean id="uc_mysql_m2" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver_m2}" />
		<property name="jdbcUrl" value="${jdbc.url_m2}" />
		<property name="user" value="${jdbc.username_m2}" />
		<property name="password" value="${jdbc.password_m2}" />
	</bean>
	
	<bean id="uc_mysql_m1" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver_m1}" />
		<property name="jdbcUrl" value="${jdbc.url_m1}" />
		<property name="user" value="${jdbc.username_m1}" />
		<property name="password" value="${jdbc.password_m1}" />
	</bean>
	<!-- 配置从数据源 -->
<!-- 	<bean id="uc_mysql_m2_s1" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver1}" />
		<property name="jdbcUrl" value="${jdbc.url1}" />
		<property name="user" value="${jdbc.username1}" />
		<property name="password" value="${jdbc.password1}" />
	</bean>
 -->
	<bean id="uc_mysql_m2_s2" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver_m2_s2}" />
		<property name="jdbcUrl" value="${jdbc.url_m2_s2}" />
		<property name="user" value="${jdbc.username_m2_s2}" />
		<property name="password" value="${jdbc.password_m2_s2}" />
	</bean>
	
	<bean id="uc_mysql_m1_s1" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver_m1_s1}" />
		<property name="jdbcUrl" value="${jdbc.url_m1_s1}" />
		<property name="user" value="${jdbc.username_m1_s1}" />
		<property name="password" value="${jdbc.password_m1_s1}" />
	</bean>
	<bean id="uc_mysql_m1_s2" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver_m1_s2}" />
		<property name="jdbcUrl" value="${jdbc.url_m1_s2}" />
		<property name="user" value="${jdbc.username_m1_s2}" />
		<property name="password" value="${jdbc.password_m1_s2}" />
	</bean>

	<bean id="dataSource" class="com.ttmv.datacenter.usercenter.dao.implement.datasource.DynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry value-ref="uc_mysql_m2" key="uc_mysql_m2" />
				<!-- <entry value-ref="uc_mysql_m2_s1" key="uc_mysql_m2_s1" /> -->
				<entry value-ref="uc_mysql_m2_s2" key="uc_mysql_m2_s2"/>
				<entry value-ref="uc_mysql_m1" 		key="uc_mysql_m1" />
				<entry value-ref="uc_mysql_m1_s1" key="uc_mysql_m1_s1" />
				<entry value-ref="uc_mysql_m1_s2" key="uc_mysql_m1_s2"/>
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="uc_mysql_m2"/>
	</bean>
	
	
	<!-- master 主 和他的 slave 从 -->
	<bean id="uc_mysql_m2_master" class="com.ttmv.datacenter.rdbcluster.Master">
		 <property name="slaves" >
		 	<list>
					<!-- <ref bean="uc_mysql_m2_s1_slave"/> -->
					<ref bean="uc_mysql_m2_s2_slave"/>
		 	</list>
		 </property>
	</bean>
	
	<bean id="uc_mysql_m1_master" class="com.ttmv.datacenter.rdbcluster.Master">
		 <property name="slaves" >
		 	<list>
					<ref bean="uc_mysql_m1_s1_slave"/>
					<ref bean="uc_mysql_m1_s2_slave"/>
		 	</list>
		 </property>
	</bean>
	
	<!-- <bean id="uc_mysql_m2_s1_slave" class="com.ttmv.datacenter.rdbcluster.Slave">
		<property name="rdbName" value="uc_mysql_m2_s1"/>
	</bean> -->
	
	<bean id="uc_mysql_m2_s2_slave" class="com.ttmv.datacenter.rdbcluster.Slave">
		<property name="rdbName" value="uc_mysql_m2_s2"/>
	</bean>
	
	<bean id="uc_mysql_m1_s1_slave" class="com.ttmv.datacenter.rdbcluster.Slave">
		<property name="rdbName" value="uc_mysql_m1_s1"/>
	</bean>
	
	<bean id="uc_mysql_m1_s2_slave" class="com.ttmv.datacenter.rdbcluster.Slave">
		<property name="rdbName" value="uc_mysql_m1_s2"/>
	</bean>
	
	<!-- 数据源分配器，随机分配数据源 -->
	<bean id="rdbCluster" class="com.ttmv.datacenter.rdbcluster.RDBCluster">
		<property name="cluster">
			<map >
				<entry key="uc_mysql_m2"  value-ref="uc_mysql_m2_master"/>
				<entry key="uc_mysql_m1"  value-ref="uc_mysql_m1_master"/>
			</map>
		</property>
	</bean>
	
</beans>