<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans
							     	 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
							     	 http://www.springframework.org/schema/context
							     	 http://www.springframework.org/schema/context/spring-context-3.0.xsd
							     	  ">
	<!-- 配置jdbc.properties -->
	<context:property-placeholder location="classpath:config.properties" />
	<!-- redis队列使用,Storm计算使用队列,dams系统内部队列,不对外提供 -->
	<bean id="dams_redisPoolConfig" class="com.ttmv.datacenter.agent.redis.RedisPoolConfig">
	    <constructor-arg value="108"></constructor-arg>
		<constructor-arg value="20"></constructor-arg>
		<constructor-arg value="2000"></constructor-arg>
	</bean>	
	<bean id="innerRedisQueueImpi" class="com.ttmv.datacenter.agent.redis.queue.RedisQueueImpi">
		<constructor-arg value="${inner.redisqueue.host}"/>
		<constructor-arg value="${inner.redisqueue.port}"/>
		<constructor-arg ref="dams_redisPoolConfig"/>
		<constructor-arg value="2000"/>
	</bean>
	
	<!-- 富人排行榜结果队列 -->
	<bean id="richerRankListRedisQueueOutputDao" class="com.datacenter.dams.business.dao.redis.inner.output.RicherRankListRedisQueueOutputDao">
		<property name="redisQueueImpi" ref="innerRedisQueueImpi"/>
	</bean>
	<!-- 明星排行榜结果队列 -->
	<bean id="famouserRankListRedisQueueOutputDao" class="com.datacenter.dams.business.dao.redis.inner.output.FamouserRankListRedisQueueOutputDao">
		<property name="redisQueueImpi" ref="innerRedisQueueImpi"/>
	</bean>
</beans>