<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans
							     	 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
							     	 ">
	<!-- 初始化ocms http请求 -->
	
	<bean id="anchorActivitySentry" class="com.ttmv.datacenter.sentry.handle.QuickSentry">
	    <property name="httpRequestPost" ref="ocmsActivityIdsHttpRequestPost"></property>
	</bean>
	<bean id="ocmsActivityIdsHttpRequestPost" class="com.ttmv.datacenter.sentry.http.HttpRequestPost">
       <constructor-arg value="${ocms.host.ocmsactivityids.url}"></constructor-arg>
    </bean>
    
    <bean id="activityTagOcmsHttpRes" class="com.datacenter.dams.input.hbase.service.ActivityTagOcmsHttpRes"> 
       <property name="anchorActivitySentry" ref="anchorActivitySentry"></property>
    </bean>

	<!--初始化redis -->
	<bean id="redisToHbase" class="com.datacenter.dams.input.hbase.RedisUtil">
		<constructor-arg value="${inner.redisqueue.host}"></constructor-arg>
		<constructor-arg value="${inner.redisqueue.port}"></constructor-arg>
		<constructor-arg value="5"></constructor-arg>
		<constructor-arg value="10000"></constructor-arg>
		<constructor-arg value="10000"></constructor-arg>
	</bean>


	<!--初始化work依赖的类  -->
    <bean id="activityTagRedis2HbaseService" class="com.datacenter.dams.input.hbase.service.ActivityTagRedis2HbaseService">
        <property name="activityTagOcmsHttpRes" ref="activityTagOcmsHttpRes"/>
        <property name="redisUtil" ref="redisToHbase"></property>
    
    </bean>

	<bean id="activityTagsRedisUpHbase"
		class="com.datacenter.dams.input.hbase.work.ActivityTagsRedisUpHbase">
	</bean>







</beans>